@font-face { font-family: Pragmatica; src: url('assets/Pragmatica-ExtraLight.ttf'); }
@font-face { font-family: Helvetica; src: url('assets/Helvetica.ttf'); }
@font-face { font-family: Helvetica; font-weight: lighter; src: url('assets/helvetica-light.ttf');}

.center {
  text-align: center;

}
.header {
  background-color: rgb(200, 200, 200);
}

.topic {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}
p.explain {
  font-size: 70px;

  margin: 40px;
  text-align: 100px;
}
p.note {
  margin-left: 15%;
}

span.linker {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 6;
}
body {
    font-family:'Helvetica', 'Arial', sans-serif;
    color: rgb(0,0,0);
    font-size: 9pt;
    background-color: rgb(240,240,240);
}
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

h3 {
  font-size:  20pt;
  margin: 0px;
}
p {
  font-family:'Helvetica', 'Arial', lighter;
  margin:0px;
}
h1 {
  margin:  0px 0px 20px 0px;
  padding: 14px;
}
div.topic {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;
  z-index: 2;


}

img {
  max-width: 70%;
  height: auto;
  margin: 50px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topic:hover {
  background-color: rgb(150, 150, 255);
}

.instagram-media{margin:15px auto !important;}
iframe {
  max-width: 70%;
  margin: auto;
  text-align: center;
}