@font-face { font-family: Pragmatica; src: url('assets/Pragmatica-ExtraLight.ttf'); }
@font-face { font-family: Helvetica; src: url('assets/Helvetica.ttf'); }
@font-face { font-family: Helvetica; font-weight: lighter; src: url('assets/helvetica_light.ttf');}

h2 {
  font-size: 50px;
  text-align: center;
}

h1.title {
  text-align: left;
  display: inline;
}
span.right_header_btn {
  float: right;
  padding_right: 20px;
}

div.header {
  background-color: rgb(205, 205, 205);
  padding: 17px;
}

div.header_btn {
  display: inline;
}

div.body_container {
  max-width: 50%;
  margin: auto;
}

div.leading_buffer {
  padding: 30px;
}

div.footer {
  margin: 100px;
}

h2.page_title {
  overflow-x: visible;
  margin: 10px 0px 100px;
}
p.page_date {
  font-size: 15px;
  text-align: center;
}
p.note {
}

p.date {
  font-size: 10px;
}
span.linker {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 6;
}
body {
    font-family:'Helvetica', 'Arial', lighter;
    color: rgb(0,0,0);
    font-size: 20 pt;
    background-color: rgb(255,255,255);
    margin: 0px;
}
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

h3 {
  font-size:  20pt;
  margin: 0px;
}
p {
  font-family:'Helvetica', 'Arial', lighter;
  margin: 0px;
  margin-left: 4px;
  font-weight: bold
}
h1 {
  margin:  0px 0px 20px 0px;
  padding: 14px;
  font-size: 18px;
}
div.topic {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 90px;
  position: relative;
  z-index: 2;


}

img {
  max-width: 100%;

  height: auto;
  margin: 50px;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topic:hover {
  background-color: rgb(205, 205, 205);
}

.instagram-media{margin:15px auto !important;}
iframe {
  max-width: 70%;
  margin: auto;

}

@media only screen and (max-width: 1000px) {
  div.body_container {
    max-width: 100%;
  }
}